In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
xlsx = pd.ExcelFile('./Data/Outliers_out.xlsx')
>>> df = pd.read_excel(xlsx, '1x 5s')
dataset= df.copy()

In [3]:
dataset.head()
dataset.tail()

          DEPTH       SP   RHOB    NPHI     ILD       GR
4953  2054.3520  76.1875  2.252  0.2686  3.0955  64.3568
4954  2054.5044  76.1875  2.276  0.2686  3.1877  65.8693
4955  2054.6568  76.1875  2.326  0.2671  3.2799  67.3818
4956  2054.8092  76.3724  2.354  0.2759  3.3557  68.8871
4957  2054.9616  76.5731  2.356  0.2642  3.4302  70.3918

In [4]:
column_names = ['DEPTH', 'SP', 'RHOB', 'NPHI','ILD','GR']

In [ ]:
Clean the data

In [5]:
# If the dataset contains a few unknown values.

dataset.isna().sum()


#if so Drop those rows to keep this initial tutorial simple.

dataset = dataset.dropna()

#then confirm drop
dataset.isna().sum()

# help(dataset.sample)

DEPTH    0
SP       0
RHOB     0
NPHI     0
ILD      0
GR       0
dtype: int64

In [6]:
Split the data into train and test

SyntaxError: invalid syntax (<ipython-input-6-086c85468687>, line 1)

In [ ]:
# the 'sample' method takes a certain fraction randomly
#Note that we use `random_state` to ensure the reproducibility of the examples.
train_dataset = dataset.sample(frac=0.7, random_state=0)
test_dataset = dataset.drop(train_dataset.index)

In [ ]:
# Inspect the data
# Have a quick look at the joint distribution of a few pairs of columns from the training set.
# (   ) is a function of all the other parameters. Looking at the other rows it should be clear that they are functions of each other

sns.pairplot(train_dataset[column_names], diag_kind='kde')

In [ ]:
train_dataset.describe().transpose()

In [ ]:
Splitting the train and test data into input and target

In [ ]:

# split datat into input and target



train_input = train_dataset.copy()
test_input = test_dataset.copy()

train_target = train_input.pop('RHOB')
test_target = test_input.pop('RHOB')

In [ ]:

train_input.head()
# type(train_input)

In [ ]:
## Correlation
import seaborn as sns
import matplotlib.pyplot as plt
#get correlations of each features in dataset
corrmat = df.corr()
top_corr_features = corrmat.index
plt.figure(figsize=(20,20))
#plot heat map
g=sns.heatmap(df[top_corr_features].corr(),annot=True,cmap="RdYlGn")